DOMAIN_NAME=rbaticle.42.fr
SQL_DATABASE=worpress
SQL_USER=rbaticle
WP_URL=https://rbaticle.42.fr
WP_TITLE=Inception
WP_ADMIN_USER=root
WP_ADMIN_EMAIL=mail@something.fr
WP_USER=example
WP_USER_EMAIL=usermail@something.fr
